In [5]:
import os
from collections import namedtuple

In [7]:
stocks = namedtuple('gan', ['x', 'y', 'z'])

In [10]:
a = stocks(11, 11, 11)

In [12]:
a[0]

11

In [1]:
import os

In [2]:
os.getcwd()

'/workspaces/machine_learning_project/notebooks'

In [6]:
os.chdir('../')

In [7]:
os.getcwd()

'/workspaces/machine_learning_project'

In [11]:
import yaml

In [13]:

config_filepath = os.path.join('config', 'config.yml')

In [16]:
os.path.exists(config_filepath)

True

In [17]:
from yaml import load, dump
try:
    from yaml import CLoader as Loader, CDumper as Dumper
except:
    from yaml import Loader, Dumper

In [24]:
with open(config_filepath, 'rb') as file:
    config_info = yaml.safe_load(file)

In [25]:
config_info

{'training_pipeline_config': {'pipeline_name': 'housing',
  'artifact_dir': 'artifact'},
 'data_ingestion_config': {'dataset_download_url': 'https://raw.githubusercontent.com/ageron/handson-ml/master/datasets/housing/housing.tgz',
  'raw_data_dir': 'raw_data',
  'tgz_download_dir': 'tgz_data',
  'ingested_dir': 'ingested_data',
  'ingested_train_dir': 'train',
  'ingested_test_dir': 'test'},
 'data_validation_config': {'schema_dir': 'config',
  'schema_file_name': 'schema.yml',
  'report_file_name': 'report.json',
  'report_page_file_name': 'report.html'},
 'data_transformation_config': {'add_bedroom_per_room': True,
  'transformed_dir': 'transformed_data',
  'transformed_train_dir': 'train',
  'transformed_test_dir': 'test',
  'preprocessing_dir': 'preprocessed',
  'preprocessed_object_file_name': 'preprocessed.joblib'},
 'model_trainer_config': {'trained_model_dir': 'trained_model',
  'model_file_name': 'model.joblib',
  'base_accuracy': 0.6,
  'model_config_dir': 'config',
  'model_config_file_name': 'model.yml'},
 'model_evaluation_config': {'model_evaluation_file_name': 'model_evaluation.yml'},
 'model_pusher_config': {'model_export_dir': 'saved_models'}}

In [2]:
import pandas as pd
import numpy as np
raw_data = '../artifact/data_ingestion/2023-11-08 08:07:45/raw_data/housing.csv'
df = pd.read_csv(raw_data)
df.head()

,longitude,latitude,housing_median_age,total_rooms,total_bedrooms,population,households,median_income,median_house_value,ocean_proximity
0,-122.23,37.88,41.0,880.0,129.0,322.0,126.0,8.3252,452600.0,NEAR BAY
1,-122.22,37.86,21.0,7099.0,1106.0,2401.0,1138.0,8.3014,358500.0,NEAR BAY
2,-122.24,37.85,52.0,1467.0,190.0,496.0,177.0,7.2574,352100.0,NEAR BAY
3,-122.25,37.85,52.0,1274.0,235.0,558.0,219.0,5.6431,341300.0,NEAR BAY
4,-122.25,37.85,52.0,1627.0,280.0,565.0,259.0,3.8462,342200.0,NEAR BAY

In [3]:
df.columns, df.dtypes

(Index(['longitude', 'latitude', 'housing_median_age', 'total_rooms',
        'total_bedrooms', 'population', 'households', 'median_income',
        'median_house_value', 'ocean_proximity'],
       dtype='object'),
 longitude             float64
 latitude              float64
 housing_median_age    float64
 total_rooms           float64
 total_bedrooms        float64
 population            float64
 households            float64
 median_income         float64
 median_house_value    float64
 ocean_proximity        object
 dtype: object)

In [11]:
data_types = df.dtypes.values.astype(str)
data_types

array(['float64', 'float64', 'float64', 'float64', 'float64', 'float64',
       'float64', 'float64', 'float64', 'object'], dtype='<U7')

In [13]:
columns = df.columns
columns

Index(['longitude', 'latitude', 'housing_median_age', 'total_rooms',
       'total_bedrooms', 'population', 'households', 'median_income',
       'median_house_value', 'ocean_proximity'],
      dtype='object')

In [14]:
schema = dict(zip(columns, data_types))

In [15]:
schema

{'longitude': 'float64',
 'latitude': 'float64',
 'housing_median_age': 'float64',
 'total_rooms': 'float64',
 'total_bedrooms': 'float64',
 'population': 'float64',
 'households': 'float64',
 'median_income': 'float64',
 'median_house_value': 'float64',
 'ocean_proximity': 'object'}